{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Create a password</h3>
    <form method="POST" action="/editpassword">
        <div class="box">
            <div class="field">
                <label class="label is-large">Website</label>
            </div>
            <div class="field">
                <div class="select is-rounded is-medium">
                    <select class="is-hovered" name="location">
                        <option value="" disabled selected hidden>Select the website for the password change</option>
                        {% for web in website %}
                        <option value="{{ web.id }}">{{ web.location }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="field">
                <input class="input is-large" type="password" name="editpassword" placeholder="Password input">
            </div>
            <div class="field">
                <button class="button is-block is-info is-large is-rounded" type="submit">Change password</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}