{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Create a password</h3>
    <div class="box">
        <form method="POST" action="/editpassword">
            <div class="field">
                <label class="label">Website</label>
                <div class="select is-rounded is-large"></div>
                    <select class="is-hovered" name="newpassword">
                    {% for web in website %}
                        <option value="{{ web.location }}">{{ web.location }}</option>

                    {% endfor %}
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="password" minlength="16" placeholder="Password" required>
                        </div>
                    </div>
                    </select>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}