{% extends "base.html" %}

{% block content %}
<script>
function togglePasswordVisibility() {
    const passwordVisibilityToggle = document.querySelector('#password-visibility-toggle');
    const passwordInput = document.querySelector('#password');
    const showIcon = '<span class="icon"><i class="fas fa-eye"></i></span>';
    const hideIcon = '<span class="icon"><i class="fas fa-eye-slash"></i></span>';

     const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';

    passwordInput.setAttribute('type', type);

    passwordVisibilityToggle.innerHTML = type === 'password' ? showIcon : hideIcon;
}

function onPasswordLengthChange(event) {
    const counter = document.querySelector('#password-length');

    counter.innerText = event.target.value;
}

function onPasswordTypeChange(event) {
    const passwordLengthSlider = document.querySelector('#password-length-slider');
    const counter = document.querySelector('#password-length');

    switch (event.target.value) {
        // Random
        case '1':
            passwordLengthSlider.setAttribute('min', '16');
            passwordLengthSlider.setAttribute('max', '64');
            passwordLengthSlider.value = '16';
            counter.innerText = '16';
            break;
        // Memorable
        case '2':
            passwordLengthSlider.setAttribute('min', '2');
            passwordLengthSlider.setAttribute('max', '6');
            passwordLengthSlider.value = '4';
            counter.innerText = '4';
            break;
        // PIN
        case '3':
            passwordLengthSlider.setAttribute('min', '4');
            passwordLengthSlider.setAttribute('max', '24');
            passwordLengthSlider.value = '6';
            counter.innerText = '6';
            break;
        default:
            break;
    }
}
</script>
<div class="column is-4 is-offset-4">
    <h3 class="title">Add a login</h3>
    <div class="box">
        <form method="POST" action="/newlogin">
            <div class="field">
            <label class="label">Website</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="location" placeholder="Website">
                </div>
            </div>
            <div class="field">
            <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="username" placeholder="Username input">
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Passwordtype</label>
                <div class="select is-rounded is-medium">
                    <select class="is-hovered" name="password_type" onchange="onPasswordTypeChange(event)">
                        <!-- <option value="" disabled selected hidden>Select your passwordtype</option> -->
                        <!-- <option value="1">Wordlist with latin words</option>
                        <option value="2">Wordlist with nordic words</option>
                        <option value="3">Random characters</option> -->
                        {% if password_type is defined %}
                            <!-- TODO: check if there is a better syntax to handle conditional attributes -->
                            {% if password_type == '1' %}
                                <option value="1" selected>Random</option>
                            {% else %}
                                <option value="1">Random</option>
                            {% endif %}
                            {% if password_type == '2' %}
                                <option value="2" selected>Memorable</option>
                            {% else %}
                                <option value="2">Memorable</option>
                            {% endif %}
                            {% if password_type == '3' %}
                                <option value="3" selected>PIN</option>
                            {% else %}
                                <option value="3">PIN</option>
                            {% endif %}
                        {% else %}
                        <option value="1" selected>Random</option>
                        <option value="2">Memorable</option>
                        <option value="3">PIN</option>
                        {% endif %}
                    </select>
                </div>
                <br>
                <br>
                <!-- TODO: need to adjust the min/max girth depending on which password type is chosen -->
                {% if password_length is defined %}
                <input
                    class="slider is-fullwidth"
                    id="password-length-slider"
                    step="1"
                    min={{ password_min }}
                    max={{ password_max }}
                    value={{ password_length }}
                    type="range"
                    name="password_length" 
                    onchange="onPasswordLengthChange(event)"
                >
                <span id="password-length">{{ password_length }}</span>
                {% else %}
                <input class="slider is-fullwidth" id="password-length-slider" step="1" min="8" max="64" value="16" type="range" name="password_length" onchange="onPasswordLengthChange(event)">
                <span id="password-length">16</span>
                {% endif %}
                
                <input class="button is-info is-small is-rounded" type="submit" name="action" value="Generate a password">
                <br>
                <br>
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    {% if password is defined %}
                    <input class="input" id="password" name="password" type="text" placeholder="Password input" value={{ password }}>
                    {% else %}
                    <input class="input" id="password" name="password" type="password" placeholder="Password input">
                    {% endif %}
                    <button class="button" id="password-visibility-toggle" type="button" onclick="togglePasswordVisibility()">
                        <span class="icon"><i class="fas fa-eye"></i></span> 
                    </button>
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                    </span>
                </div>
            </div>
            <div class="field">
            <label class="label">URL</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="url" placeholder="Web address">
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                    </span>
                </div>
            </div>


            <div class="field">
            <label class="label">Note</label>
                <div class="control">
                    <textarea class="textarea" name="note" placeholder="Textarea"></textarea>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth" type="submit">Add login</button>
        </form>
    </div>
</div>


{% endblock %}

<!-- <form method="POST" action="/newlogin"> -->