{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Hi, {{ name }}!
</h1>
<br>
<br>
<h1 class="title">
  Your Logins:
</h1>
<div class="table-container">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th style="text-align:center">ID</th>
        <th style="text-align:center">Location</th>
        <th style="text-align:center">USERID</th>
        <th style="text-align:center">Password</th>
        <th style="text-align:center">URL</th>
        <th style="text-align:center">Note</th>
      </tr>
    </thead>
    <tbody>
      {% for login in logins %}
      <tr>
        <td>{{ login.id }}</td>
        <td>{{ login.location }}</td>
        <td>{{ login.username }}</td>
        <td>{{ login.password }}</td>
        <td>{{ login.url }}</td>
        <td>{{ login.note }}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

{% endblock %}